spring:
  application:
    name: business-service
  cloud:
    nacos:
      server-addr: 127.0.0.1:7777,127.0.0.1:8888,127.0.0.1:9999
    openfeign:
      circuitbreaker:
        enabled: false
  datasource:
    url: jdbc:mysql://localhost:33061/elm_springcloud
    username: root
    password: 12345678
#    url: jdbc:mysql://localhost:33070/elm_db
#    username: root
#    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  data:
    elasticsearch:
      uris: http://localhost:9200
  jackson:
    time-zone: Asia/Shanghai

server:
  port: 12000

mybatis-plus:
  configuration:
    map-underscore-to-camel-case: false